@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Grandstander', cursive;
    background: rgb(214,224,223);
    background: radial-gradient(circle, rgba(214,224,223,1) 6%, rgba(236,170,247,1) 30%, rgba(230,136,246,0.6587009803921569) 56%, rgba(236,170,247,0.4542191876750701) 68%, rgba(214,224,223,0.6250875350140056) 100%);

}

button {
    font-family: 'Grandstander', cursive;
    font-size: 23px;
    background-color: rgb(251, 220, 118);
    border-radius: 20px;
    color: orangered;
    border: none;
    padding: 15px;
    text-shadow: 1px 3px 2px purple; 
    letter-spacing: 1px;
}

.producto button {
    text-shadow: none;
}

.producto button:hover {

    border: 1px solid orangered;
    font-weight: bold;
}

i, .encabezado img {
    font-size: 24px;
    color: orangered;
     margin-right: 7px;
}

h1 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 30%;
    right: 0;
    top: 40%;
    font-size: 45px;
    color: purple;
    text-shadow: white 2px 5px;
}

input {
    border: none;
    border-bottom: 2px solid orangered;
    background-color: rgb(251, 220, 118);
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border: 2px solid orangered;
}

input::placeholder {
    font-size: 15px;
    font-family: 'Grandstander', cursive;
    padding: 10px;
    color: white;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;

}

.imagen {
    position: relative;
}

.imagen img {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    filter: blur(2px);
    
}

.pagina-productos {
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.producto p {

    font-size: 17px;
}

.input-puntaje i {
    margin-bottom: 12px;
    margin-left: 5px;
}

.instrumento {
    margin-top: 35px;
}

.producto button {
    padding: 15px;
    margin: 10px;

}

main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    order: 1;
}

aside {
    align-self: flex-start;
    flex-grow: 3;
    padding: 35px;

}

.filtros {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 25px;
}

.busqueda input, .categoria label:last-child {
    margin-bottom: 25px;
}

.categoria {
    display: flex;
    flex-direction: column;
}

.busqueda {
    font-weight: bold;
    font-size: 20px;
}

label {
    margin: 3px;

}

.contenedor-tarjetas {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-tarjetas>div {
    background-color: white;
    border: 1px solid orangered;
    margin: 5px;
    flex: 1;
    overflow: hidden;
    flex-basis: 200px;
}

.contenedor-tarjetas img {
    max-width: 170px;
    margin: 10px;
    min-height: 180px;
    z-index:999;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
 
}

.contenedor-tarjetas img:hover {
    transform: scale(1.5);
}

.input-puntaje {
    letter-spacing: 8px;
    display: flex;
    align-items: center;
  
}

.hidden {
    display: none;
  }
  
 
/* 
section > div { /*   hijos directos de seccion */
 /* border: black solid 1px;
 background-color: blueviolet;
 margin: 5px;
 /* flex-grow: 1; */
 /* width: 100px; */
 /* height: 150px;
 /* align-self: flex-start; */
 /* flex: 1; */ 

 
/* } */

/* p {
  margin: 0;
}

#primer-elemento {
    background-color: chartreuse;
    align-self: flex-start;
    flex: 5; */ 
    /* order: 1; */
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    /* flex-basis: 300px;  flex-basis opera por encima de width */
    /* flex: propiedad que se aplica a los HIJOS de flex, comprende:
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    ejemplo:
    flex: 1 1 200px;
    lo mas normal es que se ingrese flex: 1
    es el resumen de las tres propiedades,
    tiene la finalidad de que crecen y se achiquen proporcionalmente.
    Caso contrario doy:
    flex: 5; */ 

/* } */

/* #segundo-elemento {
    order: 2;
    background-color: cornflowerblue;
} */ 
