/* -------------- Imported fonts and scrollbar layout ---------------------- */

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* -------------------- Main tags properties for content alignment -------------------- */

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: 'Grandstander', cursive;
	background: rgb(214, 224, 223);
	background: radial-gradient(
		circle,
		rgb(246, 255, 254) 6%,
		rgb(236, 168, 248) 30%,
		rgba(255, 255, 255, 0.659) 56%,
		rgba(226, 164, 240, 0.454) 68%,
		rgba(253, 255, 255, 0.625) 100%
	);
	object-fit: contain;
}

main {
	display: flex;
}

h1 {
	position: absolute;
	font-size: 45px;
	color: white;
	text-shadow: 2px 4px rgb(80, 17, 80);
	left: 30%;
	top: 35%;
	right: 30%;
}

section {
	order: 1;
	flex: 1;
}

aside {
	align-self: flex-start;
	padding: 35px;
}

button {
	font-family: 'Grandstander', cursive;
	font-size: 25px;
	background: none;
	border-radius: 10px;
	color: orange;
	border: none;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	outline: none;
}

input {
	border: none;
	border-bottom: 2px solid orangered;
	background-color: rgb(251, 220, 118);
	border-radius: 5px;
	outline: none;
	padding: 6px;
}

input[type="number"] {
	width: 35px;
	background-color: whitesmoke;
}

label {
	margin: 3px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px;
	margin-top: 200px;
	color: purple;
}

a {
	text-decoration: none;
	text-shadow: 3px 2px 2px rgb(141, 135, 141);
	letter-spacing: 6px;
	color: orange;
}

i {
	font-size: 24px;
	color: orangered;
	text-shadow: none;
}

/* ----------------------- Header content properties ------------------ */

.header button {
	text-shadow: 3px 2px 2px rgb(141, 135, 141);
	letter-spacing: 6px;
}

.cart {
	display: flex;
	align-items: center;
	align-content: center;
}

.container-header-img {
	opacity: 0.7;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/image.jpg');
	width: 100%;
	text-align: center;
	height: 300px;
	background-size: cover;
	background-position: center;
}

/* ------------------------- Alignment for buttons icons and content next to them ----------------- */

.fa-trash-alt,
.fa-shopping-cart {
	margin-right: 6px;
}

.fa-search {
	position: absolute;
	top: 2%;
	left: 180px;
}

.fa-times {
	cursor: pointer;
	margin: 5px;
}

.cart span,
.filters span {
	letter-spacing: normal;
	color: black;
	text-shadow: none;
	font-weight: normal;
	font-size: 16px;
}

/* -------------------------- Searching filter input's design ------------------ */

input::placeholder,
input[type="text"] {
	font-size: 15px;
	font-family: 'Grandstander', cursive;
	color: white;
	width: 200px;
	margin-bottom: 25px;
}

input:focus {
	border: 2px solid orangered;
	background-color: wheat;
	color: purple;
}

/* ----------------------- Products header layout --------------------- */

.products-amount {
	margin: 15px;
	background-color: white;
	border-radius: 5px;
}

.products-amount > div:last-child {
	display: flex;
	flex-basis: 180px;
	align-items: center;
	justify-content: space-around;
}

/* ---------------- Main content alignment and shared properties between elements ------------------ */

.main-content {
	display: flex;
}

.header,
.products-amount {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

/* --------------------------- Each product layout properties in common ------------------- */

.products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.product {
	background-color: white;
	border: 1px solid orangered;
	display: flex;
	flex-grow: 1;
	min-width: 25%;
	max-width: 32%;
}

.product-name {
	font-weight: bold;
}

.product button {
	padding: 15px;
	margin: 10px;
	text-shadow: none;
}

.product button:hover {
	color: purple;
	background-color: rgb(250, 216, 154);
	border-radius: 30px;
	text-shadow: 2px 3px 1px white;
}

.img-container {
	margin: 2px;
	overflow: hidden;
	max-width: 85%;
}

.products-container img:hover,
.list-style > .img-container > img:hover {
	transform: scale(1.5);
	opacity: 0.8;
}

/* -------------------------- Grid-like layout products styling --------------------- */

.grid-layout {
	margin: 5px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 20px;
}

.grid-layout > .img-container > img {
	max-width: 170px;
	margin: 10px;
	min-height: 180px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
}

/* ------------------------- List-like layout products styling -------------------- */

.list-style > .img-container > img {
	max-width: 300px;
	margin: 10px;
	height: 90%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
}

.list-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-style {
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	flex-basis: 300px;
	min-width: 95%;
}

.about {
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/* --------------------------- Filters from side panel --------------------- */

.filters {
	/* this belongs to trash can button */
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.searching {
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

.category {
	display: flex;
	flex-direction: column;
}

.category label:last-child {
	margin-bottom: 25px;
}

.grading-input {
	letter-spacing: 2px;
	display: flex;
	align-items: center;
}

.grading-input i {
	margin-bottom: 12px;
	margin-left: 5px;
}

/* ----------------------- Cart opened -------------------- */

.overlay {
	width: 100vw;
	height: 300vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.menu,
.small-devices-display {
	width: 30vw;
	height: 300vh;
	background-color: wheat;
	position: fixed;
	right: 0;
	top: 0;
	transition: 1s;
	z-index: 5;
}

.menu {
	transform: translateX(130%);
}

.menu > h2,
.emptycart-menu > div:only-child {
	margin: 20px;
	margin-top: 25px;
}

.small-devices-display > div:first-child,
.menu > div:nth-child(1) {
	display: flex;
	justify-content: flex-end;
	margin-right: 3px;
}

.show-menu,
.small-devices-showmenu {
	transform: translate(0);
}

.fullcart-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fullcart-menu > div:last-of-type {
	/* este div no me toma propiedad de justify-content ni align-self para ubicarlo al fondo del contenedor padre */
	display: flex;
	flex-direction: column;
	margin-top: 15%;
}

.added-prod {
	max-height: 35vh;
	overflow-y: auto;
	flex-direction: column;
	min-height: 30vh;
	min-width: 50vh;
}

.added-prod > p {
	justify-content: center;
	display: flex;
}

.in-cart {
	display: flex;
	justify-content: space-evenly;
	min-width: 57vh;
	margin: 5px;
	flex-direction: column;
	background-color: white;
}

.in-cart > div {
	display: flex;
	flex-direction: row;
}

.in-cart > div:first-of-type > img {
	height: 100px;
}

.in-cart > div:nth-child(2),
.in-cart > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.no-scroll {
	overflow: hidden;
}

/* ------------------------ Filters menu for small devices ----------------------- */

.small-devices-display {
	transform: translate(5%);
}

.small-devices-showmenu {
	transform: translate(0);
}

/* ------------------------ Overlapped panel when completing purchase process ---------------- */

.purchase-panel {
	position: fixed;
	background-color: rgb(235, 210, 240);
	left: 15%;
	right: 15%;
	top: 0;
	bottom: 0;
	display: flex;
	z-index: 5;
	width: 75%;
}

.purchase-panel section {
	margin: 30px;
	display: flex;
	flex-direction: column;
}

.purchase-panel h2 {
	margin: 10px;
}

.purchase-panel > section:first-child > div:first-child {
	height: 250px;
	display: flex;
	flex-flow: row wrap;
	padding: 15px;
	max-width: 230px;
}

.purchase-panel > section:first-child > div:first-child input {
	min-width: 200px;
	color: rgb(78, 5, 78);
	font-weight: bold;
	background-color: rgb(248, 237, 215);
	font-family: 'Grandstander', cursive;
}

.purchase-panel > section:first-child > div:first-child input:focus {
	background-color: white;
}

.purchase-panel > section:first-child > div:last-child,
.purchase-panel > section:last-child {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.purchase-panel > section:last-child > div:first-of-type {
	max-width: 80%;
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 237, 215);
	border: dotted 1px orangered;
	border-radius: 18px;
	flex-grow: 2;
	max-height: 80%;
}

.purchase-panel > section:last-child > div:last-of-type {
	display: flex;
	width: 35%;
	justify-content: center;
	margin: 10px;
}

.purchase-panel > section:last-child > div:first-of-type > p {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 50px;
	height: 20px;
}

.purchase-panel > section:last-child > div > p:nth-child(2) {
	margin-top: 150px;
}

.purchase-panel > section:last-child > div > p:nth-child(6) {
	font-size: 30px;
}

.purchase-panel button,
.fullcart-menu > div:last-child > button,
.cancell-purchase-panel > div > button {
	display: flex;
	min-width: 200px;
	justify-content: center;
	margin: 10px;
	border-radius: 8px;
	padding: 15px;
	font-size: 18px;
}

.fullcart-menu > div:last-child > button,
.cancell-purchase-panel > div > button {
	width: 350px;
}

.purchase-panel button:hover,
.fullcart-menu > div:last-child > button:hover,
.cancell-purchase-panel > div > button:hover {
	box-shadow: 5px 3px 6px rgb(163, 144, 118);
}

.purchase-panel button:first-of-type,
.fullcart-menu > div:last-child > button:last-of-type,
.cancell-purchase-panel > div > button:last-of-type {
	color: purple;
	border: solid 2px purple;
}

.purchase-panel div:last-child > button:last-child,
.fullcart-menu > div:last-child > button:first-of-type,
.cancell-purchase-panel > div > button:first-of-type {
	background-color: rgb(253, 108, 55);
	color: white;
}

/* ------------------------ Cancell purchase panel ---------------------- */

.cancell-purchase-panel {
	width: 500px;
	height: 350px;
	position: absolute;
	background-color: rgb(235, 225, 235);
	border: orange 1px dotted;
	border-radius: 10px;
	top: 20%;
	bottom: 50%;
	left: 30%;
	right: 30%;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.cancell-purchase-panel > p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.cancell-purchase-panel > div {
	display: flex;
	flex-direction: row;
}

.cancell-purchase-panel > div > button {
	width: 1vh;
}

/* ------------------------ Brief footer detail ---------------------- */

footer p:last-child:hover {
	font-weight: bold;
	letter-spacing: 5px;
	color: orangered;
	font-size: 20px;
	text-shadow: 2px 3px 1px orange;
	font-family: "hanalei", cursive;
}

/* ------------------- Hidden elements ------------------------ */

div.hidden,
.hidden,
.products-amount .fa-filter {
	display: none;
}

/* ------------------- Responsive features for tablets --------------------- */

@media (min-width: 900px) and (max-width: 1260px) {
	.menu {
		width: 75vh;
	}

	.purchase-panel {
		width: 80%;
	}
}

@media (min-width: 600px) and (max-width: 900px) {
	/* ----------------------- Header adjustments -------------------- */

	.header {
		justify-content: start;
	}

	.cart span {
		min-width: 150px;
	}

	h1 {
		font-size: 2rem;
		left: 25%;
		right: 25%;
	}

	/* -------------------- product card resize -------------- */

	.product {
		min-width: 47%;
	}

	/* --------------------- Filters button display ---------------------- */

	.products-amount .fa-filter {
		display: flex;
	}

	.products-amount .fa-filter::after {
		content: "Filtros";
		color: black;
		font-family: 'Grandstander', cursive;
		font-size: 70%;
		margin: 5px;
	}

	/* ------------------------ Hidden elements --------------------- */

	.products-amount .fa-list-alt,
	.products-amount .fa-th,
	.products-amount div:last-child > p,
	.small-devices-hidden,
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(3),
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(4),
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(5) {
		display: none;
	}

	/* ---------------------- Properties adjustment shared between elements ---------------- */

	.header,
	.products-amount {
		flex-basis: 100%;
	}

	/* -------------------- Cart menu resize --------------------- */

	.menu {
		width: 65vh;
	}

	.small-devices-display {
		width: 45vh;
	}

	.in-cart {
		justify-content: space-evenly;
		margin-left: 7px;
		margin-right: 7px;
	}

	/* ------------------- Purchase panel adjustments ------------------- */

	.purchase-panel {
		left: 30%;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}

	.purchase-panel > section:last-child > div > p:nth-child(2) {
		margin-top: 15px;
	}

	.purchase-panel > section:last-child > div:first-of-type {
		flex-grow: 0;
	}

	.purchase-panel > section:last-child > div:last-of-type {
		display: flex;
		justify-content: flex-start;
		margin-top: 60px;
	}

	.cancell-purchase-panel {
		width: 80%;
		left: 25%;
		right: 0;
		height: 120vh;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.cancell-purchase-panel > p {
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}

	.cancell-purchase-panel > div {
		display: flex;
		flex-direction: row;
	}

	.cancell-purchase-panel > div > button {
		width: 15vh;
	}
}

@media (max-width: 600px) {
	/* ----------------------- Header adjustments -------------------- */

	.header {
		justify-content: start;
	}
	.cart span {
		min-width: 150px;
	}

	h1 {
		font-size: 30px;
		left: 15%;
		right: 15%;
	}

	/* ------------------- Products header text resize ------------- */

	.products-amount > div:first-child {
		font-size: 15px;
	}

	/* -------------------- product card resize -------------- */

	.product {
		min-width: 100%;
	}

	/* --------------------- Filters button display ---------------------- */

	.products-amount .fa-filter {
		display: flex;
	}

	.products-amount .fa-filter::after {
		content: "Filtros";
		color: black;
		font-family: 'Grandstander', cursive;
		font-size: 70%;
		margin: 5px;
	}

	/* ------------------------ Hidden elements --------------------- */

	.products-amount .fa-list-alt,
	.products-amount .fa-th,
	.products-amount div:last-child > p,
	.small-devices-hidden,
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(3),
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(4),
	.purchase-panel > section:last-child > div:first-of-type > p:nth-child(5) {
		display: none;
	}

	/* ---------------------- Properties adjustment shared between elements ---------------- */

	.header,
	.products-amount,
	.product {
		flex-basis: 100%;
	}

	/* --------------------------- Footer brief adjustment -------------------- */

	footer {
		text-align: center;
	}

	/* -------------------- Cart menu resize --------------------- */

	.menu {
		width: 100%;
	}

	.small-devices-display {
		width: 45vh;
	}

	/* ------------------- Purchase panel adjustments ------------------- */

	.purchase-panel {
		display: flex;
		flex-direction: column;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.purchase-panel section {
		width: 100%;
		margin-top: 2px;
	}

	.purchase-panel > section:last-child > div > p:nth-child(2) {
		margin-top: 10px;
	}

	.purchase-panel > section:last-child > div:last-of-type {
		display: flex;
		flex-direction: column;
		height: 200px;
		width: 80%;
		margin-top: 2px;
	}

	.cancell-purchase-panel {
		width: 125vw;
		left: 0;
		right: 0;
		height: 150vh;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.cancell-purchase-panel > p {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		width: 95%;
	}

	.cancell-purchase-panel > div {
		display: flex;
		flex-direction: column;
	}

	.cancell-purchase-panel > div > button {
		width: 40vh;
	}
}
