body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.imagen img {
    width: 83rem;
    max-height: 18rem;
    margin: 5px;
}

.pagina-productos {
    display: flex;
    align-items: center;
    margin: 15px;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: wheat;
 
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.producto button {
    padding: 15px;
    margin: 10px;
}

main {
    display: flex;
    background-color: burlywood;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 1;
}

aside {
    align-self: flex-start;
    flex-grow: 3;
    padding: 35px;
}

.filtros {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.categoria {
    display: flex;
    flex-direction: column;
}

.busqueda {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 20px;
}

label {
    margin: 3px;

}

.contenedor-tarjetas {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;

}

.contenedor-tarjetas>div {
    background-color: wheat;
    border: 1px solid black;
    margin: 5px;
    flex: 1 1 200px;
}

.contenedor-tarjetas img {
    max-width: 170px;
    margin: 10px;
}

.ec-stars-wrapper {
	font-size: 0;
    display: flex;
    align-items: center;
}
.ec-stars-wrapper a {
	text-decoration: none;
    display: inline-flex;
	font-size: 25px;
    color: darkorange;
 
}

.ec-stars-wrapper:hover a {
	color: rgb(243, 230, 45);
}

.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

/* 
section > div { /*   hijos directos de seccion */
 /* border: black solid 1px;
 background-color: blueviolet;
 margin: 5px;
 /* flex-grow: 1; */
 /* width: 100px; */
 /* height: 150px;
 /* align-self: flex-start; */
 /* flex: 1; */ 

 
/* } */

/* p {
  margin: 0;
}

#primer-elemento {
    background-color: chartreuse;
    align-self: flex-start;
    flex: 5; */ */
    /* order: 1; */
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    /* flex-basis: 300px;  flex-basis opera por encima de width */
    /* flex: propiedad que se aplica a los HIJOS de flex, comprende:
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    ejemplo:
    flex: 1 1 200px;
    lo mas normal es que se ingrese flex: 1
    es el resumen de las tres propiedades,
    tiene la finalidad de que crecen y se achiquen proporcionalmente.
    Caso contrario doy:
    flex: 5; */ 

/* } */

/* #segundo-elemento {
    order: 2;
    background-color: cornflowerblue;
} */ 
