/* -------------- Fonts imported and scrollbar layout ---------------------- */

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* -------------------- Main tags properties for content alignment -------------------- */

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: 'Grandstander', cursive;
	background: rgb(214, 224, 223);
	background: radial-gradient(
		circle,
		rgb(246, 255, 254) 6%,
		rgb(236, 168, 248) 30%,
		rgba(255, 255, 255, 0.659) 56%,
		rgba(226, 164, 240, 0.454) 68%,
		rgba(253, 255, 255, 0.625) 100%
	);
	object-fit: contain;
}

h1 {
	position: absolute;
	font-size: 45px;
	color: white;
	text-shadow: 2px 4px rgb(80, 17, 80);
	left: 30%;
	top: 35%;
}

main {
	display: flex;
}

section {
	order: 1;
	/* flex-grow: 2; */
	flex: 1;
}

aside {
	align-self: flex-start;
	padding: 35px;
}

button {
	font-family: 'Grandstander', cursive;
	font-size: 25px;
	background: none;
	border-radius: 10px;
	color: orange;
	border: none;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	outline: none;
}

input {
	border: none;
	border-bottom: 2px solid orangered;
	background-color: rgb(251, 220, 118);
	border-radius: 5px;
	outline: none;
	padding: 6px;
}

label {
	margin: 3px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px;
	margin-top: 200px;
	color: purple;
}

a {
	text-decoration: none;
	text-shadow: 3px 2px 2px rgb(141, 135, 141);
	letter-spacing: 6px;
	color: orange;
}

i {
	font-size: 24px;
	color: orangered;
	text-shadow: none;
}

/* ----------------------- Header content properties ------------------ */

.header button {
	text-shadow: 3px 2px 2px rgb(141, 135, 141);
	letter-spacing: 6px;
}

.cart {
	display: flex;
	align-items: center;
	align-content: center;
}

.container-header-img {
	opacity: 0.7;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./assets/image.jpg');
	width: 100%;
	text-align: center;
	height: 50vh;
	background-size: cover;
	background-position: center;
}

/* ------------------------- Alignment for buttons icons and content next to them ----------------- */

.fa-trash-alt,
.fa-shopping-cart {
	margin-right: 6px;
}

.fa-search {
	position: absolute;
	top: 2%;
	left: 180px;
}

.fa-times {
	cursor: pointer;
	margin: 5px;
}

.cart span,
.filters span {
	letter-spacing: normal;
	color: black;
	text-shadow: none;
	font-weight: normal;
	font-size: 16px;
}

/* -------------------------- Searching filter input's design ------------------ */

input::placeholder,
input[type="text"] {
	font-size: 15px;
	font-family: 'Grandstander', cursive;
	color: white;
	width: 200px;
	margin-bottom: 25px;
}

input:focus {
	border: 2px solid orangered;
	background-color: wheat;
	color: purple;
}

/* ----------------------- Products header layout --------------------- */

.products-amount {
	margin: 15px;
	background-color: white;
	border-radius: 5px;
}

.products-amount > div:last-child {
	display: flex;
	flex-basis: 180px;
	align-items: center;
	justify-content: space-around;
}

/* ---------------- Main content alignment and shared properties between elements ------------------ */

.main-content {
	display: flex;
}

.header,
.products-amount {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}

/* --------------------------- Each product layout properties in common ------------------- */

.products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 43px;
}

.product {
	background-color: white;
	border: 1px solid orangered;
	display: flex;
	min-width: 23%;
}

.product-name {
	margin-top: 35px;
	font-weight: bold;
}

.product button {
	padding: 15px;
	margin: 10px;
	text-shadow: none;
}

.product button:hover {
	color: purple;
	background-color: rgb(250, 216, 154);
	border-radius: 30px;
	text-shadow: 2px 3px 1px white;
}

.img-container {
	margin: 2px;
	overflow: hidden;
	max-width: 85%;
}

.products-container img:hover,
.list-style > .img-container > img:hover {
	transform: scale(1.5);
	opacity: 0.8;
}

/* -------------------------- Grid-like layout products styling --------------------- */

.grid-layout {
	margin: 5px;
	flex-basis: 200px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 20px;
}

.grid-layout > .img-container > img {
	max-width: 170px;
	margin: 10px;
	min-height: 180px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

/* ------------------------- List-like layout products styling -------------------- */

.list-style > .img-container > img {
	max-width: 300px;
	margin: 10px;
	height: 90%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

.list-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.list-style {
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	flex-basis: 300px;
	width: 95%;
}

.about {
	flex-grow: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/* --------------------------- Filters from side panel --------------------- */

.filters {
	/* this belongs to trash can button */
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.searching {
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

.category {
	display: flex;
	flex-direction: column;
}

.category label:last-child {
	margin-bottom: 25px;
}

.grading-input {
	letter-spacing: 2px;
	display: flex;
	align-items: center;
}

.grading-input i {
	margin-bottom: 12px;
	margin-left: 5px;
}

/* ----------------------- Cart opened -------------------- */

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

.menu,
.fullcart-menu {
	width: 300px;
	height: 100vh;
	background-color: wheat;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(300px);
	transition: 1s;
}

.menu > p,
.menu > h2,
.fullcart-menu > p,
.fullcart-menu > h2 {
	margin: 10px;
	margin-top: 25px;
}

.menu > div,
.fullcart-menu > div {
	display: flex;
	justify-content: flex-end;
}

.show-menu {
	transform: translate(0);
}

.no-scroll {
	overflow: hidden;
}

/* ------------------------ Overlapped panel when completing purchase process ---------------- */

.purchase-panel {
	position: fixed;
	background-color: rgb(230, 230, 230);
	left: 20%;
	right: 20%;
	top: 0;
	bottom: 0;
	display: flex;
}

.purchase-panel section {
	padding: 30px;
}

.purchase-panel > section:first-child > div:first-child {
	height: 250px;
	display: flex;
	flex-flow: row wrap;
	padding: 15px;
	max-width: 230px;
}

.purchase-panel > section:first-child > div:first-child input {
	min-width: 200px;
	color: purple;
	background-color: wheat;
	font-family: 'Grandstander', cursive;
}

.purchase-panel > section:first-child > div:last-child {
	display: flex;
	flex-direction: column;
}

.purchase-panel > section:last-of-type {
	display: flex;
	flex-direction: column;
	background-color: rgb(251, 239, 215);
	border: dotted 1px orange;
	border-radius: 18px;
	height: 400px;
	margin: 15px;
}

.purchase-panel > section:last-of-type > div:first-of-type {
	margin-top: 150px;
}

.purchase-panel > section:last-of-type > div:first-of-type > p {
	display: flex;
	justify-content: space-between;
	margin-right: 100px;
}

.purchase-panel > section:last-of-type > div:first-of-type > p:last-of-type {
	font-size: 30px;
}

.purchase-panel > section:last-of-type > div:last-of-type {
	margin-top: 50px;
	display: flex;
}

.purchase-panel button {
	min-width: 200px;
	justify-content: center;
	font-size: 20px;
	margin-left: 10px;
	border-radius: 8px;
	padding: 15px;
	font-size: 18px;
	font-weight: normal;
}

.purchase-panel button:hover {
	box-shadow: 5px 3px 6px rgb(163, 144, 118);
}

.purchase-panel button:first-of-type {
	color: purple;
	border: solid 2px purple;
}

.purchase-panel div:last-child > button:last-child {
	background-color: rgb(253, 108, 55);
	color: wheat;
}

/* ------------------------ Brief footer detail ---------------------- */

footer p:last-child:hover {
	font-weight: bold;
	letter-spacing: 5px;
	color: orangered;
	font-size: 20px;
	text-shadow: 2px 3px 1px orange;
	font-family: "hanalei", cursive;
}

/* ------------------- Hidden elements ------------------------ */

div.hidden,
.hidden,
.products-amount .fa-filter,
.close-menu.hidden {
	display: none;
}

/* ------------------- Responsive features for tablets --------------------- */

@media (min-width: 600px) and (max-width: 900px) {
	/* ----------------------- Header adjustments -------------------- */

	.header {
		justify-content: start;
	}

	.cart span {
		min-width: 150px;
	}

	.image {
		height: 25vh;
	}

	h1 {
		font-size: 2rem;
		top: 30%;
		left: 25%;
		text-align: center;
	}

	/* --------------------- Filters button display ---------------------- */

	.products-amount .fa-filter {
		display: flex;
	}

	.products-amount .fa-filter::after {
		content: "Filtros";
		color: black;
		font-family: 'Grandstander', cursive;
		font-size: 70%;
		margin: 5px;
	}

	/* ------------------------ Hidden elements --------------------- */

	.products-amount .fa-list-alt,
	.products-amount .fa-th,
	.products-amount div:last-child > p,
	.small-devices-hidden {
		display: none;
	}

	/* ---------------------- Properties adjustment shared between elements ---------------- */

	.products-container,
	.header,
	.products-amount,
	.product {
		flex-basis: 100%;
		padding-left: 0;
	}

	/* ------------------- Filters menu displayed when pressing Filters button --------------- */

	.small-devices-display {
		width: 55vh;
		height: 100vh;
		background-color: wheat;
		position: fixed;
		right: 0;
		top: 0;
		transform: translate(300px);
		transition: 1s;
	}
}

@media (max-width: 600px) {
	/* ----------------------- Header adjustments -------------------- */

	.header {
		justify-content: start;
	}
	.cart span {
		min-width: 150px;
	}

	.image {
		height: 25vh;
	}

	h1 {
		font-size: 30px;
		top: 25%;
		left: 15%;
		text-align: center;
	}

	/* --------------------- Filters button display ---------------------- */

	.products-amount .fa-filter {
		display: flex;
	}

	.products-amount .fa-filter::after {
		content: "Filtros";
		color: black;
		font-family: 'Grandstander', cursive;
		font-size: 70%;
		margin: 5px;
	}

	/* ------------------------ Hidden elements --------------------- */

	.products-amount .fa-list-alt,
	.products-amount .fa-th,
	.products-amount div:last-child > p,
	.small-devices-hidden {
		display: none;
	}

	/* ---------------------- Properties adjustment shared between elements ---------------- */

	.products-container,
	.header,
	.products-amount,
	.product {
		flex-basis: 100%;
		padding-left: 0;
	}

	/* ------------------- Filters menu displayed when pressing Filters button --------------- */

	.small-devices-display {
		/* intenté unificar este estilo ingresando esta clase junto a ".menu" y ".fullcart-menu" pero de ningún modo responde el sitio a este estilado para el menú desplegado del botón filtros. Mi intención era darle también la clase "show-menu" para que el efecto sea el mismo y reutilizar el código.
		También intenté usar el mismo estilo de overlay en el div previo al contenedor en el html pero tampoco resultó. Esto quizs sea mayor problema de Javascript. */
		width: 122vw;
		height: 100vh;
		background-color: wheat;
		position: fixed;
		right: 0;
		top: 0;
		transform: translate(300px);
		transition: 1s;
	}

	/* --------------------------- Footer brief adjustment -------------------- */

	footer {
		text-align: center;
	}
}
